<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Book Recommender System</title>
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="topnav">
    <a href="{{ url_for('home') }}" class="active">Home</a>
    <a href="{{ url_for('recommend') }}">Recommendation</a>
    <a href="">Contact</a>
</div>
<div class="intro">
    <h1>Top 50 Books </h1>
</div>

<div class="card-wrapper">
    {% for i in range(book_name|length) %}
    <div class="card">
        <img src="{{ image[i] }}" alt="Cover Page" width="180" height="230">
        <div class="container">
        <h2><b>{{ book_name[i] }}</b></h2>
        <h3>By: {{ book_author[i] }}</h3>
        <h3>Published: {{ year[i] }}</h3>
        <h3>Reviews: {{ num_rating[i] }}</h3>
        <h3>Rating: {{ "%0.2f" | format(avg_rating[i]| float )}}</h3>
        </div>
    </div>
    {% endfor %}
</div>
</body>

</html>